In [1]:
import pandas as pd
import requests
pd.set_option('display.max_columns', None)

In [2]:
usual_columns = ['taxon_id','scientific_name','common_name','taxon_species_name']
preusual_columns = ['taxon_subclass_name', 'taxon_superorder_name',
       'taxon_order_name', 'taxon_suborder_name', 'taxon_superfamily_name',
       'taxon_family_name', 'taxon_subfamily_name', 'taxon_supertribe_name',
       'taxon_tribe_name', 'taxon_subtribe_name', 'taxon_genus_name',
       'taxon_genushybrid_name']
subusual_columns = ['taxon_hybrid_name','taxon_subspecies_name', 'taxon_variety_name', 'taxon_form_name']
all_columns = usual_columns + preusual_columns + subusual_columns

In [3]:
observations_path = 'data/observations-285432.csv'

def prepare_df(observations_path):
    
    df_full = pd.read_csv(observations_path)
    df = df_full[all_columns].copy()

    return df, df_full

df, df_full = prepare_df(observations_path)
df_full.columns

Index(['id', 'observed_on_string', 'observed_on', 'time_observed_at',
       'time_zone', 'user_id', 'user_login', 'user_name', 'created_at',
       'updated_at', 'quality_grade', 'license', 'url', 'image_url',
       'sound_url', 'tag_list', 'description', 'num_identification_agreements',
       'num_identification_disagreements', 'captive_cultivated',
       'oauth_application_id', 'place_guess', 'latitude', 'longitude',
       'positional_accuracy', 'private_place_guess', 'private_latitude',
       'private_longitude', 'public_positional_accuracy', 'geoprivacy',
       'taxon_geoprivacy', 'coordinates_obscured', 'positioning_method',
       'positioning_device', 'place_town_name', 'place_county_name',
       'place_state_name', 'place_country_name', 'place_admin1_name',
       'place_admin2_name', 'species_guess', 'scientific_name', 'common_name',
       'iconic_taxon_name', 'taxon_id', 'taxon_kingdom_name',
       'taxon_phylum_name', 'taxon_subphylum_name', 'taxon_superclass_name',
       'taxon_class_name', 'taxon_subclass_name', 'taxon_superorder_name',
       'taxon_order_name', 'taxon_suborder_name', 'taxon_superfamily_name',
       'taxon_family_name', 'taxon_subfamily_name', 'taxon_supertribe_name',
       'taxon_tribe_name', 'taxon_subtribe_name', 'taxon_genus_name',
       'taxon_genushybrid_name', 'taxon_species_name', 'taxon_hybrid_name',
       'taxon_subspecies_name', 'taxon_variety_name', 'taxon_form_name'],
      dtype='object')

In [4]:
df_full[(df_full['user_login']=='budetinetakoe')&df_full['taxon_species_name'].notnull()].head(1)

,id,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,updated_at,quality_grade,license,url,image_url,sound_url,tag_list,description,num_identification_agreements,num_identification_disagreements,captive_cultivated,oauth_application_id,place_guess,latitude,longitude,positional_accuracy,private_place_guess,private_latitude,private_longitude,public_positional_accuracy,geoprivacy,taxon_geoprivacy,coordinates_obscured,positioning_method,positioning_device,place_town_name,place_county_name,place_state_name,place_country_name,place_admin1_name,place_admin2_name,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id,taxon_kingdom_name,taxon_phylum_name,taxon_subphylum_name,taxon_superclass_name,taxon_class_name,taxon_subclass_name,taxon_superorder_name,taxon_order_name,taxon_suborder_name,taxon_superfamily_name,taxon_family_name,taxon_subfamily_name,taxon_supertribe_name,taxon_tribe_name,taxon_subtribe_name,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name
413,132922976,2022-08-30 10:39:18+03:00,2022-08-30,2022-08-30 07:39:18 UTC,St. Petersburg,6076059,budetinetakoe,Ilya Baidakov,2022-08-30 07:50:39 UTC,2022-09-02 21:19:33 UTC,research,CC-BY-NC,https://www.inaturalist.org/observations/13292...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,NaN,2,0,False,3.0,"улица Рабочий Городок, Imeni Tsyurupy, Moscow ...",55.494403,38.644662,44.0,NaN,NaN,NaN,44.0,NaN,open,False,NaN,NaN,NaN,Voskresenskiy rayon,NaN,Russia,Moskva,Voskresenskiy rayon,Mante religieuse,Mantis religiosa,Обыкновенный богомол,Insecta,53905,Animalia,Arthropoda,Hexapoda,NaN,Insecta,Pterygota,NaN,Mantodea,Eumantodea,Mantoidea,Mantidae,Mantinae,NaN,NaN,NaN,Mantis,NaN,Mantis religiosa,NaN,NaN,NaN,NaN

In [5]:
# check requests
# r = requests.get('https://api.inaturalist.org/v1/observations/132922976')

In [6]:
# requestname = '132922976'

# def save_response(requestname):

#     request_filepath = 'data/response_'+requestname+'.txt'
#     with open(request_filepath, 'w') as f:
#         f.write(r.text)

# save_response(requestname)

In [7]:
matntis_radius_request = 'https://api.inaturalist.org/v1/observations?verifiable=true&taxon_id=53905&lat=55.494403&lng=38.644662&radius=200&order=desc&order_by=created_at'
matntis_radius_request = 'https://api.inaturalist.org/v1/observations?verifiable=true&taxon_id=53905&lat=55.494403&lng=38.644662&radius=200&order=desc&order_by=created_at&only_id=true'

In [26]:
# наблюдения с точностью до подвида
df_subspecies = df[df['taxon_subspecies_name'].notnull()].copy()

subusual_to_remove = subusual_columns.copy()
subusual_to_remove.remove('taxon_subspecies_name')

df_subspecies.drop(preusual_columns, axis=1, inplace=True)
df_subspecies.drop(subusual_to_remove, axis=1, inplace=True)

df_subspecies

,taxon_id,scientific_name,common_name,taxon_species_name,taxon_subspecies_name
120,234770,Calystegia sepium americana,Повой вздутый,Calystegia sepium,Calystegia sepium americana
200,448080,Centaurea phrygia pseudophrygia,Василёк ложнофригийский,Centaurea phrygia,Centaurea phrygia pseudophrygia
257,448080,Centaurea phrygia pseudophrygia,Василёк ложнофригийский,Centaurea phrygia,Centaurea phrygia pseudophrygia
418,1397747,Calystegia sepium spectabilis,Повой заметный,Calystegia sepium,Calystegia sepium spectabilis
753,448080,Centaurea phrygia pseudophrygia,Василёк ложнофригийский,Centaurea phrygia,Centaurea phrygia pseudophrygia
858,236363,Heracleum sphondylium sibiricum,Борщевик сибирский,Heracleum sphondylium,Heracleum sphondylium sibiricum

In [9]:
# наблюдения с точностью до вида
df_species = df[df['taxon_species_name'].notnull() & df['taxon_subspecies_name'].isnull()].copy()
df_species.drop(preusual_columns, axis=1, inplace=True)
df_species.drop(subusual_columns, axis=1, inplace=True)
df_species

,taxon_id,scientific_name,common_name,taxon_species_name
1,1070919,Attulus floricola,NaN,Attulus floricola
3,966205,Alnus glutinosa,Ольха чёрная,Alnus glutinosa
4,51610,Veronica chamaedrys,Вероника дубравная,Veronica chamaedrys
5,48206,Convallaria majalis,Ландыш майский,Convallaria majalis
6,56133,Quercus robur,Дуб черешчатый,Quercus robur
...,...,...,...,...
920,53195,Rumex acetosella,Щавель воробьиный,Rumex acetosella
921,61935,Scleranthus annuus,Дивала однолетняя,Scleranthus annuus
923,127960,Artemisia campestris,Полынь полевая,Artemisia campestris
924,118036,Chondrostereum purpureum,Хондростереум пурпурный,Chondrostereum purpureum
928,48529,Tremella mesenterica,Дрожалка оранжевая,Tremella mesenterica

In [39]:
# наблюдения с точностью до рода
df_genus = df[df['taxon_genus_name'].notnull() & df['taxon_species_name'].isnull()].copy()
df_genus.drop(subusual_columns, axis=1, inplace=True)

preusual_to_remove = preusual_columns.copy()
preusual_to_remove.remove('taxon_genus_name')

df_genus.drop(preusual_to_remove, axis=1, inplace=True)
df_genus.drop(['taxon_species_name'], axis = 1, inplace=True)
df_genus

,taxon_id,scientific_name,common_name,taxon_genus_name
0,1062676,Distantes,Сморчок высокий,Morchella
1,1070919,Attulus floricola,NaN,Attulus
3,966205,Alnus glutinosa,Ольха чёрная,Alnus
4,51610,Veronica chamaedrys,Вероника дубравная,Veronica
5,48206,Convallaria majalis,Ландыш майский,Convallaria
...,...,...,...,...
924,118036,Chondrostereum purpureum,Хондростереум пурпурный,Chondrostereum
925,51148,Crataegus,Боярышник,Crataegus
927,42044,Canis,Волки,Canis
928,48529,Tremella mesenterica,Дрожалка оранжевая,Tremella
929,955374,Neoantrodia,NaN,Neoantrodia

In [40]:
# наблюдения с точностью до подсемейства
df_subfamily = df[df['taxon_subfamily_name'].notnull() & df['taxon_genus_name'].isnull()].copy()

df_subfamily.drop(subusual_columns, axis=1, inplace=True)

preusual_to_remove = preusual_columns.copy()
preusual_to_remove.remove('taxon_subfamily_name')

df_subfamily.drop(preusual_to_remove, axis=1, inplace=True)
df_subfamily.drop(['taxon_species_name'], axis = 1, inplace=True)
df_subfamily

     taxon_id scientific_name   common_name taxon_subfamily_name
2      373470     Malachiinae       Малашки          Malachiinae
732    790553       Apioideae  Сельдерейные            Apioideae
910    321595      Scolytinae       Короеды           Scolytinae