In [1]:
import pandas as pd

In [2]:
prev = pd.read_csv('data/observations-285432.csv')

In [3]:
prev.head(10)

,id,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,updated_at,...,taxon_supertribe_name,taxon_tribe_name,taxon_subtribe_name,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name
0,16876317,2016/05/14 4:42 PM MSK,2016-05-14,2016-05-14 13:42:00 UTC,Moscow,1160263,entomokot,Konstantin,2018-09-24 18:04:37 UTC,2020-04-28 19:52:17 UTC,...,NaN,NaN,NaN,Morchella,NaN,NaN,NaN,NaN,NaN,NaN
1,16876320,2016/05/14 4:48 PM MSK,2016-05-14,2016-05-14 13:48:00 UTC,Moscow,1160263,entomokot,Konstantin,2018-09-24 18:04:38 UTC,2021-03-08 06:06:43 UTC,...,NaN,Sitticini,NaN,Attulus,NaN,Attulus floricola,NaN,NaN,NaN,NaN
2,25788653,2019-05-26 8:26:00 ДП GMT+02:00,2019-05-26,2019-05-26 04:26:00 UTC,Pretoria,1265317,bio_4you,NaN,2019-05-26 05:27:29 UTC,2021-10-23 21:35:11 UTC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25928353,2019-05-28 8:48:04 ДП GMT+02:00,2019-05-28,2019-05-28 06:48:04 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:48:37 UTC,2019-12-29 13:44:40 UTC,...,NaN,NaN,NaN,Alnus,NaN,Alnus glutinosa,NaN,NaN,NaN,NaN
4,25928360,2019-05-28 8:49:26 ДП GMT+02:00,2019-05-28,2019-05-28 06:49:26 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:49:18 UTC,2019-05-28 05:57:34 UTC,...,NaN,Veroniceae,NaN,Veronica,NaN,Veronica chamaedrys,NaN,NaN,NaN,NaN
5,25928393,2019-05-25 9:28:12 ДП GMT+02:00,2019-05-25,2019-05-25 07:28:12 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:50:52 UTC,2019-05-28 05:57:30 UTC,...,NaN,Convallarieae,NaN,Convallaria,NaN,Convallaria majalis,NaN,NaN,NaN,NaN
6,25928408,2019-05-25 9:54:01 ДП GMT+02:00,2019-05-25,2019-05-25 07:54:01 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:51:31 UTC,2019-05-28 05:57:26 UTC,...,NaN,NaN,NaN,Quercus,NaN,Quercus robur,NaN,NaN,NaN,NaN
7,25928425,2019-05-25 10:58:01 ДП GMT+02:00,2019-05-25,2019-05-25 08:58:01 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:52:29 UTC,2019-05-28 05:59:35 UTC,...,NaN,NaN,NaN,Suillus,NaN,NaN,NaN,NaN,NaN,NaN
8,25928453,2019-05-25 9:58:08 ДП GMT+02:00,2019-05-25,2019-05-25 07:58:08 UTC,Africa/Johannesburg,1265317,bio_4you,NaN,2019-05-28 05:53:49 UTC,2019-05-28 05:57:21 UTC,...,NaN,Anthemideae,Artemisiinae,Artemisia,NaN,Artemisia vulgaris,NaN,NaN,NaN,NaN
9,25934049,2019-05-28 2:23:28 ПП GMT+03:00,2019-05-28,2019-05-28 11:23:28 UTC,Baghdad,1663057,naturalist11373,фёдор маркин,2019-05-28 11:24:08 UTC,2019-06-05 14:43:02 UTC,...,NaN,Convallarieae,NaN,Convallaria,NaN,Convallaria majalis,NaN,NaN,NaN,NaN

In [6]:
prev.describe

<bound method NDFrame.describe of             id               observed_on_string observed_on  \
0     16876317           2016/05/14 4:42 PM MSK  2016-05-14
1     16876320           2016/05/14 4:48 PM MSK  2016-05-14
2     25788653  2019-05-26 8:26:00 ДП GMT+02:00  2019-05-26
3     25928353  2019-05-28 8:48:04 ДП GMT+02:00  2019-05-28
4     25928360  2019-05-28 8:49:26 ДП GMT+02:00  2019-05-28
..         ...                              ...         ...
930  144411345              2022-12-15 10:37:23  2022-12-15
931  144415529                 2022/12/15 10:12  2022-12-15
932  144416151                 2022/12/15 11:19  2022-12-15
933  144416393                 2022/12/15 11:23  2022-12-15
934  144920113                 2022/12/21 15:44  2022-12-21

            time_observed_at            time_zone  user_id     user_login  \
0    2016-05-14 13:42:00 UTC               Moscow  1160263      entomokot
1    2016-05-14 13:48:00 UTC               Moscow  1160263      entomokot
2    2019-05-26 04:26:00 UTC             Pretoria  1265317       bio_4you
3    2019-05-28 06:48:04 UTC  Africa/Johannesburg  1265317       bio_4you
4    2019-05-28 06:49:26 UTC  Africa/Johannesburg  1265317       bio_4you
..                       ...                  ...      ...            ...
930  2022-12-15 07:37:23 UTC       St. Petersburg  6076059  budetinetakoe
931  2022-12-15 07:12:00 UTC       St. Petersburg  6076059  budetinetakoe
932  2022-12-15 08:19:00 UTC       St. Petersburg  6076059  budetinetakoe
933  2022-12-15 08:23:00 UTC       St. Petersburg  6076059  budetinetakoe
934  2022-12-21 12:44:00 UTC       St. Petersburg  6076059  budetinetakoe

         user_name               created_at               updated_at  ...  \
0       Konstantin  2018-09-24 18:04:37 UTC  2020-04-28 19:52:17 UTC  ...
1       Konstantin  2018-09-24 18:04:38 UTC  2021-03-08 06:06:43 UTC  ...
2              NaN  2019-05-26 05:27:29 UTC  2021-10-23 21:35:11 UTC  ...
3              NaN  2019-05-28 05:48:37 UTC  2019-12-29 13:44:40 UTC  ...
4              NaN  2019-05-28 05:49:18 UTC  2019-05-28 05:57:34 UTC  ...
..             ...                      ...                      ...  ...
930  Ilya Baidakov  2022-12-15 10:27:13 UTC  2022-12-15 16:55:01 UTC  ...
931  Ilya Baidakov  2022-12-15 12:47:35 UTC  2022-12-15 12:57:52 UTC  ...
932  Ilya Baidakov  2022-12-15 13:04:04 UTC  2022-12-15 16:54:50 UTC  ...
933  Ilya Baidakov  2022-12-15 13:11:19 UTC  2022-12-15 16:54:42 UTC  ...
934  Ilya Baidakov  2022-12-23 13:26:56 UTC  2022-12-23 15:13:05 UTC  ...

    taxon_supertribe_name taxon_tribe_name taxon_subtribe_name  \
0                     NaN              NaN                 NaN
1                     NaN        Sitticini                 NaN
2                     NaN              NaN                 NaN
3                     NaN              NaN                 NaN
4                     NaN       Veroniceae                 NaN
..                    ...              ...                 ...
930                   NaN              NaN                 NaN
931                   NaN              NaN                 NaN
932                   NaN              NaN                 NaN
933                   NaN              NaN                 NaN
934                   NaN              NaN                 NaN

    taxon_genus_name  taxon_genushybrid_name   taxon_species_name  \
0          Morchella                     NaN                  NaN
1            Attulus                     NaN    Attulus floricola
2                NaN                     NaN                  NaN
3              Alnus                     NaN      Alnus glutinosa
4           Veronica                     NaN  Veronica chamaedrys
..               ...                     ...                  ...
930              NaN                     NaN                  NaN
931              NaN                     NaN                  NaN
932              NaN                     NaN                  NaN
933              NaN                     NaN                  NaN
934              NaN                     NaN                  NaN

    taxon_hybrid_name  taxon_subspecies_name  taxon_variety_name  \
0                 NaN                    NaN                 NaN
1                 NaN                    NaN                 NaN
2                 NaN                    NaN                 NaN
3                 NaN                    NaN                 NaN
4                 NaN                    NaN                 NaN
..                ...                    ...                 ...
930               NaN                    NaN                 NaN
931               NaN                    NaN                 NaN
932               NaN                    NaN                 NaN
933               NaN                    NaN                 NaN
934               NaN                    NaN                 NaN

     taxon_form_name
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
..               ...
930              NaN
931              NaN
932              NaN
933              NaN
934              NaN

[935 rows x 67 columns]>